.container {
    width: 100vw;
    height: 5.6rem;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    padding: 0rem 3.2rem 0rem 3.2rem;
    background-color: #fafafa;
    z-index: 10;
}

.headerLogoText, .headerLogoText:visited, .headerLogoText:hover {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #000000;
    text-decoration: none;
}

.headerMenu, .headerMenu:visited, .headerMenu:hover {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-decoration: none;
    color: #333333
}

